body {
	background-color: skyblue;
}

#score {
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
}

table, th, td{
	border: 1px solid black;
	font-size: 	48px;
	padding: 5px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

button {
	font-size: 2em;
}

.buttons {
	margin-top: 40px;
	margin-left: 15%;
	margin-right: auto;
}
